form(class="form-signin",name="login-form",method="post",action="/login")
  h2(class="form-signin-heading") Please sign in
  input(type="text",name="username",class="input-block-level",placeholder="Username")
  input(type="password",name="password",class="input-block-level",placeholder="Password")
  button(type="submit",value="Login",name="login",class="btn btn-large btn-primary") Sign in